.footer {
    background-color: #0d7e6d;
    padding: 20px 0px;
}

.foot {
    background-color: #015c4e;
    padding: 10px 0px;
}

.foot-icon {
    position: absolute;
}

.facebook {
    position: relative;
    left: 25px;
}