html,
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
}

.cf::after {
    content: "";
    clear: both;
    display: table;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}