.header {
	background: url(../img/bg_header.png) no-repeat 50% 0;
	min-height: 893px;
	box-shadow: 0px 30px 100px rgba(0,0,0,.6);
}
.contacts {
	background-color: rgba(255,255,255,.35);
	min-height: 127px;
}
.search {
	border-color: #878488;
	background-color: rgba(255,255,255,.35);
	font-size: 20px;
	border-radius: 40px;
	margin-top: 10px;
	padding: 20px 40px;
	max-width: 470px;
}
.where_go {
	font-size: 50px;
	margin: 10px;
}

.btn {
	border-radius: 40px;
	background-color: #db3b15;
	padding: 20px 35px;
	border-color: #db3b15;
	margin-top:10px;
	margin-right: 40px;
	color: white;
}
.e_mail {
	background: url(../img/icon_envelope.png) no-repeat;
}

.tel 
{
	background: url(../img/icon_phone.png) no-repeat;
}